.markdown {
  position: relative;
  box-sizing: border-box;
  padding-left: 200px;
  font-family: 'Lato';
  font-size: 16pt;
  font-weight: 200;
  @media only screen and (max-width: 800px) {
    padding: 1pc;
    hyphens: auto;
    text-align: justify;
    font-size: 12pt;
  }

  p {
    line-height: 1.3;
  }

  p+p, p+aside+p, p+aside {
    margin-top: 1.2pc;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  img {
    text-indent: 0;
    display: block;
    width: 100%;
  }

  aside {
    color: #999;
    line-height: 1.3;
    text-align: right;
    @media only screen and (min-width: 800px) {
      box-sizing: border-box;
      width: 200px;
      padding-right: 1pc;
      position: absolute;
      left: 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
    margin: 2pc 0 1pc 0;
    font-weight: 300;
    text-align: left;
  }
  h1 {
    font-size: 40pt;
    margin-bottom: 0;
  }
  h1+h2 {
    margin-top: 0;
  }
  h2 {
    font-size: 27pt;
    text-align: left;
    margin-left: 1.5em;
  }
  h3 {
    display: flex;
    font-size: 25pt;
    font-weight: 300;
    align-items: center;
    justify-content: space-between;
    &::after {
      content: '';
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      flex-grow: 1;
      margin-left: 3pc;
    }
  }
  h4, h5, h6 {
    // margin: 2pc 0 1pc 0;
    font-weight: 300;
  }
  h4 {
    text-indent: 1em;
    font-size: 20pt;
    letter-spacing: 0.5px;
  }
  h5 {
    text-indent: 1em;
    font-size: 19pt;
    letter-spacing: 0.7px;
  }
  h6 {
    text-indent: 1em;
    font-size: 18pt;
    letter-spacing: 1px;
  }

  ul {
    list-style: disc;
  }
  ol {
    list-style: decimal;
  }

  ul, ol {
    margin-left: 1em;
    font-family: 'Lato', sans-serif;
  }

  ul, ol, dl {
    margin-top: 1pc;
    margin-bottom: 1pc;
    ul, ol, dl {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  dt {
    font-weight: 400;
    margin-top: 1pc;
  }

  li, dd {
    margin: 1.2pc 0 0 1em;
    padding-left: 0.5pc;
  }

  pre, pre code {
    font-size: 12pt;
    @media only screen and (max-width: 800px) {
      font-size: 10pt;
    }
    margin: 1pc 0;
  }

  table {
    width: 100%;
    margin: 1pc 0;
    td, th {
      padding: 0.5pc;
    }
    thead + tbody, tr + tr {
      border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    td + td, th + th {
      border-left: 1px solid rgba(0, 0, 0, 0.2);
    }
  }

  blockquote {
    background: rgba(0, 0, 0, 0.05);
    padding: 1pc;
    margin: 1pc 0;
  }

  sup {
    vertical-align: super;
    font-size: .83em;
  }

  hr {
    position: relative;
    border: none;
    height: 1px;
    margin: 2pc auto;
    background-color: transparentize(black, 0.5);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20pt;
    line-height: 3px;
    color: black;
    pointer-events: none;

    &::after {
      content: '///';
      position: absolute;
      left: calc(50% - 1ex);
    }
  }
}
