.search {
  display: flex;
  flex-direction: horizontal;
  align-items: center;
  margin: 1pc 0;
  font-family: 'Source Code Pro', monospace;
  font-size: 14pt;

  .search__input {
    border: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background: transparent;
    width: 100%;
    flex-grow: 1;
    font-family: 'Source Code Pro', monospace;
    font-size: 14pt;
    margin-left: 0.5em;
  }
}
