@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100|Source+Code+Pro:300|Lato:300,400);
@import 'color';

body {
  background-image: url(crossword.png);
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
  @media only screen and (max-width: 800px) {
    max-width: 100%;
  }
}

a:link, a:visited {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: $link-hover;
  text-decoration: underline;
}
