---
title: New work!
subtitle: This is coming along.
date: 2020-05-30
tags: ['personal', 'meta']
author: Cameron Eldridge
---

Hello this is the things.

```rust
fn main() {
    println!("Hello world");
}
```

This is the end?
